
:root {
  --trenchSpeed: 1s;
}

.targeting-content {
  /* background-image: url(https://i.imgur.com/zPknEMf.jpg);
  background-size: 1357px;
  background-position-x: -430px;
  background-position-y: 48px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: .9vw;
}

.crt-screen {
  position: relative;
  width: 80vw;
  max-width: 600px;
  max-height: 500px;
  padding-top: calc(600 / 500 * 53%);
  border-radius: 4em;
  filter: blur(.1em);
  background: radial-gradient(#27312E, #121412);
}

.targeting-computer {
  overflow: hidden;
  position: absolute;
  top: 2%;
  width: 84%;
  height: 79.5%;
  border-radius: 4em;
  left: calc(50% - 42%);
  border: .6em solid #B8AB35;
}

.vanishing-point div {
  position: absolute;
  width: 150%;
  border-top: .6em solid #B8AB35;
  left: calc(50% - 75%);
  top: 50%;
}

.vp1 {
  transform: rotate(35deg);
}

.vp2 {
  transform: rotate(-35deg);
}

.vp3 {
  transform: rotate(50deg);
}

.vp4 {
  transform: rotate(-50deg);
}

.vp5 {
  transform: rotate(-13.5deg);
}

.vp6 {
  transform: rotate(13.5deg);
}

.perspective {
  height: 100%;
  width: 100%;
}

.perspective div {
  position: absolute;
  border: .6em solid #B8AB35;
  border-top: none;
  bottom: -5%;
  left: calc(50% - 36.5%);
  transform: translate(27.3em, -24.1em);
  height: 2.4%;
  width: 0.4%;
  animation: floorAnimationLarge var(--trenchSpeed) cubic-bezier(0.61, 0.1, 1, 0.35) infinite;
}

.perspective .wallfloor2 {
  animation-delay: calc((var(--trenchSpeed) / 5) * 1);
}

.perspective .wallfloor3 {
  animation-delay: calc((var(--trenchSpeed) / 5) * 2);
}

.perspective .wallfloor4 {
  animation-delay: calc((var(--trenchSpeed) / 5) * 3);
}

.perspective .wallfloor5 {
  animation-delay: calc((var(--trenchSpeed) / 5) * 4);
}

.perspective .wallfloor6 {
  animation-delay: var(--trenchSpeed);
}

.red-reticle {
  position: absolute;
  height: 110%;
  width: 106%;
  border-left: 1.5em solid #D12122;
  border-right: 1.5em solid #D12122;
  filter: blur(.3em);
  transform: translate(-3%, -4%);
  animation: closingReticle 10s 1.8s linear;
}

.numbers {
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 51%;
  height: 15%;
  border: .6em solid #B8AB35;
  border-bottom: none;
  border-radius: 4em 4em 0 0;
  left: calc(50% - 25.5%);
}

.numbers img {
  fill: #D12122;
  width: 6.1em;
  height: 6.1em;
  margin: 0.3em;
  margin-top: 2.4em;
}

@keyframes floorAnimation {
  0% {
    transform: translate(27em, -23.5em);
    height: 4.5%;
    width: 2.6%;
  }

  100% {
    transform: translate(-11em, 21.5em);
    width: 102%;
    height: 203%;
  }
}

@keyframes floorAnimationLarge {
  0% {
    transform: translate(26em, -23.5em);
    height: 2.5%;
    width: 2.6%;
  }

  100% {
    transform: translate(-11em, 21.5em);
    width: 102%;
    height: 203%;
  }
}

@keyframes closingReticle {
  0% {
    width: 106%;
    transform: translate(-3%, -4%);
  }

  100% {
    width: 1%;
    transform: translate(36.7em, -2em);
  }
}

@media screen and (min-width: 750px) {
  .targeting-content {
    font-size: 6.5px;
    filter: blur(.4px);
  }

  .perspective div {
    animation: floorAnimation var(--trenchSpeed) cubic-bezier(0.61, 0.1, 1, 0.35) infinite;
  }

}




