.vault-tec-loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--vault-green);
  width: 385px;
  height: 160px;
  transform: scale(.8);
}

.vault-tec-loader .circles, .dot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: .5em solid;
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.dot {
  width: 0%;
  height: 0%;
}

.vault-tec-loader .circles::before {
  content: "";
  width: 2.5em;
  height: 2.5em;
  border: inherit;
  position: inherit;
  border-radius: inherit;
  animation: ping 1.5s infinite;
}

.vault-tec-loader .circles::after {
  content: "";
  width: 6em;
  height: 6em;
  border: inherit;
  position: inherit;
  border-radius: inherit;
  animation: ping 1.5s infinite;
  animation-delay: .5s;
}

.vault-tec-loader .left-lines {
  height: 18px;
  width: 117px;
  background-color: var(--vault-green);
  border-radius: 30% 0 0 30%;
  position: inherit;
  left: 0;
}

.vault-tec-loader .left-lines::before {
  content: "";
  height: inherit;
  width: 81px;
  background-color: inherit;
  border-radius: 35% 0 18% 35%;
  position: inherit;
  top: -39px;
  left: 47px;
}

.vault-tec-loader .left-lines::after {
  content: "";
  height: inherit;
  width: 81px;
  background-color: inherit;
  border-radius: 35% 18% 0 35%;
  position: inherit;
  top: 39px;
  left: 47px;
}

.vault-tec-loader .right-lines {
  height: 18px;
  width: 117px;
  background-color: var(--vault-green);
  border-radius: 0 30% 30% 0;
  position: inherit;
  right: 0;
}

.vault-tec-loader .right-lines::before {
  content: "";
  height: inherit;
  width: 81px;
  background-color: inherit;
  border-radius: 0 35% 35% 18%;
  position: inherit;
  top: -39px;
  right: 48px;
}

.vault-tec-loader .right-lines::after {
  content: "";
  height: inherit;
  width: 81px;
  background-color: inherit;
  border-radius: 18% 35% 35% 0;
  position: inherit;
  top: 39px;
  right: 48px;
}

@keyframes ping {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}